body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;

}

.container{
    text-align: center;

}

.color_display{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    color: #000;
}

.generate_button{
    width: 150px;
    height: 50px;
    color: #000;
    font-size: 19px;
}